.root {
    -fx-background-color: #f0f0f0;
}

.label {
    -fx-text-fill: #333;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-family: 'Arial';
}

.button:hover {
    -fx-background-color: #45a049;
}

.table-view {
    -fx-background-color: #f0f0f0;
}

.table-view .column-header-background {
    -fx-background-color: #4CAF50;
}

.table-view .column-header,
.table-view .table-row-cell {
    -fx-text-fill: white;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #e0e0e0;
}

.table-view .table-row-cell:even {
    -fx-background-color: white;
}

.table-view .table-row-cell:selected .text {
    -fx-fill: #4CAF50;
}
